target
src/main/resources
src/main/webapp/js/html5shiv.js
src/main/webapp/css/bootstrap.min.css
src/main/webapp/css/bootstrap-responsive.min.css
pom.xml.releaseBackup
release.properties
*.class
*.jar
*.war
*.ear
